button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 32px;
}

.back {
    background-color:rgb(194, 191, 191);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 15px;
}

h1{
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
    font-size: 25px;
}

input{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.name, .phone {
    padding-left: 25px;
    padding-top: 17px;
}

h4 {
    padding: 10px;
    text-align: left;
    color: black;
    font-size: 21px;
    font-family: Arial;
    margin-left: 22px;
}

p {
    padding: 3px;
    padding-left: 35px;
    text-align: left;
    color: black;
    font-size: 17px;
    font-family: Arial;
}